:root {
  --background-color: #fff;
  --text-color: hsl(0, 0%, 11%);
  --primary-color: #48586d;
  --secondary-color: #677283;
  --neutral-color: #d2d7da;
  --dark-color: #0f1c2e;
  --dark-blue: #0b253c;
  --warning-color: #ff8a00;
  --highlight-color: #78acfa;
}
