@use '../util/' as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.5;
  margin-top: 0;
}

p {
  margin-top: 0;
  font-size: u.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.title {
  &-primary {
    font-size: u.rem(64);
    line-height: u.rem(68);

    @include u.breakpoint-down(small) {
      font-size: u.rem(24);
      line-height: u.rem(28);
    }
  }

  &-secondary {
    font-size: u.rem(40);
    line-height: u.rem(42);

    @include u.breakpoint-down(small) {
      font-size: u.rem(24);
      line-height: u.rem(26);
    }
  }

  &-tertiary {
    font-size: u.rem(20);
    line-height: u.rem(24);

    @include u.breakpoint-down(small) {
      font-size: u.rem(16);
      line-height: u.rem(20);
    }
  }

  &--black {
    color: #000;
  }

  &--light {
    color: #fff;
  }
}

.boldest {
  font-weight: 900;
}

.text {
  &--small {
    font-size: u.rem(16);
    line-height: u.rem(22);
  }
  &--normal {
    font-size: u.rem(18);
    line-height: u.rem(24);
  }

  &--large {
    font-size: u.rem(24);
    line-height: u.rem(30);

    @include u.breakpoint-down(small) {
      font-size: u.rem(14);
      line-height: u.rem(16);
    }
  }

  &--light {
    color: var(--neutral-color);
  }

  &--black {
    color: #000;
  }

  &--primary {
    color: var(--primary-color);
  }

  &--secondary {
    color: var(--secondary-color);
  }

  &--warning {
    color: var(--warning-color);
  }

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }

  &--boldest {
    font-weight: 900;
  }
}

.align-center {
  text-align: center;
}

.highlight {
  color: var(--highlight-color);
  font-weight: 700;
}
