@use '../util' as u;

.hero {
  height: u.rem(660);

  @include u.breakpoint-down(large) {
    height: 100%;
  }

  &__wrapper {
    background-color: var(--primary-color);
    padding: u.rem(15);
    border-radius: u.rem(25);
    height: 100%;
  }

  &__inner {
    display: flex;
    align-items: center;

    @include u.breakpoint-down(large) {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: u.rem(36);
    align-items: flex-start;
    padding-left: u.rem(76);
    max-width: u.rem(718);
    width: 100%;

    @include u.breakpoint-down(large) {
      max-width: 100%;
      padding-left: unset;
      gap: u.rem(22);
    }
  }

  &__image {
    flex: 1;
    margin-top: u.rem(94);

    @include u.breakpoint-down(large) {
      margin-top: u.rem(40);
    }

    img {
      display: block;
      height: auto;
      width: 100%;
      scale: 1.25;
      margin-left: u.rem(-170);

      @include u.breakpoint-down(large) {
        scale: 1.25;
        margin-left: -10%;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: u.rem(82);
    gap: u.rem(16);

    @include u.breakpoint-down(small) {
      flex-wrap: wrap;
      text-align: center;
    }
  }

  &__address {
    display: flex;
    align-items: center;
    gap: u.rem(16);
  }
}

.rent {
  padding-top: u.rem(60);

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(506px, 1fr));
    grid-gap: u.rem(52);
    margin-top: u.rem(50);

    @include u.breakpoint-down(small) {
      grid-template-columns: 1fr;
      grid-gap: u.rem(24);
      padding-inline: u.rem(5);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: u.rem(24);
    max-width: u.rem(506);

    @include u.breakpoint-down(small) {
      max-width: 100%;
      padding: u.rem(5);
    }

    img {
      display: block;
      max-width: u.rem(67);
      width: 100%;
      height: auto;

      @include u.breakpoint-down(small) {
        max-width: u.rem(37);
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: u.rem(12);
  }
}

.offers {
  padding-top: u.rem(60);

  &__inner {
    background-color: var(--dark-blue);
    border-radius: u.rem(25);
    overflow: hidden;
  }

  &__block {
    display: flex;
    height: u.rem(560);

    @include u.breakpoint-down(small) {
      height: 100%;
    }
  }

  &__block-right {
    flex-direction: row;

    @include u.breakpoint-down(small) {
      flex-direction: column;
    }

    .offers__block-image {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 80px 42px 43px #0b253c;

        @include u.breakpoint-down(small) {
          box-shadow: inset 0px 72px 43px #0b253c;
        }
      }
    }
  }

  &__block-left {
    flex-direction: row-reverse;

    @include u.breakpoint-down(small) {
      flex-direction: column;
    }

    .offers__block-image {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset -80px 9px 43px #0b253c;

        @include u.breakpoint-down(small) {
          box-shadow: inset 0px 72px 43px #0b253c;
        }
      }
    }
  }

  &__block-content {
    flex: 1;
    padding: u.rem(100) u.rem(40);
    display: flex;
    flex-direction: column;
    gap: u.rem(36);

    @include u.breakpoint-down(small) {
      padding: u.rem(24);
    }
  }

  &__block-image {
    flex: 1;
    position: relative;
    width: u.rem(560);
    overflow: hidden;

    @include u.breakpoint-down(small) {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  &__block-steps {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: u.rem(36);
  }

  .step {
    display: flex;
    gap: u.rem(16);

    &__text {
      display: flex;
      flex-direction: column;
      gap: u.rem(10);
    }

    &__number {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: u.rem(25);
      height: u.rem(25);
      background-color: var(--secondary-color);
      border-radius: 100%;
    }
  }
}

.adventure {
  padding-top: u.rem(60);

  &__inner {
    display: flex;
    align-items: center;
    gap: u.rem(60);

    @include u.breakpoint-down(small) {
      flex-direction: column;
      gap: u.rem(30);
      text-align: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: u.rem(18);

    .text {
      width: 75%;
      @include u.breakpoint-down(small) {
        width: 100%;
      }
    }
  }
}

.specs {
  padding-top: u.rem(60);

  &__info {
    display: flex;
    gap: u.rem(24);
    margin-bottom: u.rem(45);
    margin-top: u.rem(30);

    @include u.breakpoint-down(small) {
      flex-direction: column;
      gap: u.rem(12);
      margin-bottom: u.rem(20);
      margin-top: u.rem(15);
    }
  }

  &__image {
    flex: 1;

    img {
      display: block;
      width: 100%;
    }
  }

  &__content {
    flex: 1;
    background-color: rgba($color: #d2d7da, $alpha: 0.5);
    border-radius: u.rem(25);
    padding: u.rem(37) u.rem(32);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: u.rem(16);
  }

  &__item {
    padding-block: u.rem(7);
    border-bottom: 2px dashed var(--neutral-color);
    display: flex;
    gap: u.rem(30);

    span {
      display: block;
      &:nth-of-type(1) {
        width: u.rem(175);
        color: var(--secondary-color);
        font-weight: bold;

        @include u.breakpoint-down(small) {
          width: 100%;
        }
      }

      &:nth-of-type(2) {
        color: var(--primary-color);
        font-weight: 900;
        margin-right: auto;
        max-width: 55%;

        @include u.breakpoint-down(small) {
          max-width: 100%;
          width: 100%;
          margin-right: unset;
        }
      }
    }
  }
}

.apps {
  padding-top: u.rem(80);
  margin-bottom: u.rem(-85);
  overflow: hidden;

  &__inner {
    display: flex;
    justify-content: space-between;

    @include u.breakpoint-down(small) {
      flex-direction: column;
    }
  }

  &__links {
    display: flex;
    gap: u.rem(16);

    @include u.breakpoint-down(small) {
      justify-content: space-between;
    }
  }

  &__content {
    flex: 1;
    max-width: u.rem(500);
    display: flex;
    flex-direction: column;

    h3 {
      margin-bottom: u.rem(40);
    }

    p {
      &:nth-of-type(1) {
        margin-bottom: u.rem(24);
      }
    }
  }

  &__image {
    flex: 1;
    max-width: u.rem(400);
    margin-right: u.rem(60);

    @include u.breakpoint-down(small) {
      flex-direction: column;
      margin-right: unset;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}
